# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=7792867781:AAEU4xnwAEpo6rrmcoORpvRR42VLIR0Knlw
ADMIN_IDS=1425847313,6379656679
ADMIN_API_KEY=your-secret-api-key-here

# Backend Configuration
ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:5071
JWT_SECRET=super secret key for new project with the 512 bytes patreon , thanks for user my app