<div class="dashboard-container">
    <h2 class="section-title">Mantente informado</h2>
    
    <div class="grid-layout">
        <a class="card span-2" (click)="support()">
            <div class="icon-box theme-blue">
                <i class="fab fa-telegram-plane"></i>
            </div>
            <span class="card-text">Grupo de apoyo</span>
        </a>

        <a class="card span-1" (click)="canal()">
            <div class="icon-box theme-blue">
                <i class="fab fa-telegram-plane"></i>
            </div>
            <span class="card-text">Canal Oficial</span>
        </a>

        <a class="card span-3" (click)="client()">
            <div class="icon-box theme-green">
                <i class="fas fa-headset"></i>
            </div>
            <span class="card-text">Atención al cliente</span>
        </a>
    </div>
</div>