<app-top-notification />
<app-navbar *ngIf="!hideNavAndButtons" />
<main *ngIf="!noPadding" class="box-border margin mb-20">
  <router-outlet />
</main>
<main *ngIf="noPadding" class="box-border">
  <router-outlet />
</main>
<div *ngIf="!hideNavAndButtons" class="watsapp-chat" >
  <a
    href="https://chat.whatsapp.com/JNgP9PRzC4M0RrLOfqUl2w?s=cl&p=a&mlu=0"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img [src]="'assets/social/watshao-icon.webp'" />
  </a>
</div>
<app-buttons *ngIf="!hideNavAndButtons" />
