<div class="container">
  <div class="menu-title">Seleccione el método de retiro</div>
  <div class="method-selector-wrapper">
    <button class="btn-method-select btn-nequi" (click)="goToWithdraw('nequi')">
      <div class="btn-method-content">
        <div class="btn-logo-box">
          <img src="assets/token/nequi-account.png" alt="Nequi" />
        </div>
        <span>Nequi</span>
      </div>
      <span class="arrow-icon">&#x2794;</span>
    </button>
    <button class="btn-method-select btn-daviplata" (click)="goToWithdraw('daviplata')">
      <div class="btn-method-content">
        <div class="btn-logo-box">
          <img src="assets/token/daviplata.png" alt="DaviPlata" />
        </div>
        <span>DaviPlata</span>
      </div>
      <span class="arrow-icon">&#x2794;</span>
    </button>
    <button class="btn-method-select btn-trc20" (click)="goToWithdraw('usdt-trc20')">
      <div class="btn-method-content">
        <div class="btn-logo-box">
          <img src="assets/token/usdt-trc20.png" alt="USDT-TRC20" />
        </div>
        <span>USDT-TRC20</span>
      </div>
      <span class="arrow-icon">&#x2794;</span>
    </button>
    <button class="btn-method-select btn-bep20" (click)="goToWithdraw('usdt-bep20')">
      <div class="btn-method-content">
        <div class="btn-logo-box">
          <img src="assets/token/usdt-bep20.jpg" alt="USDT-BEP20" />
        </div>
        <span>USDT-BEP20</span>
      </div>
      <span class="arrow-icon">&#x2794;</span>
    </button>
  </div>
</div>
